<!DOCTYPE html>
<html>
<% include header.ejs %>
  <body>
    <div class="container-fluid">
      <!--Content and sidebar-->
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

        </div>
      <div class="col-sm-9 col-md-10 main content">
        <h1>Congratulation!!</h1>
        <div class="col-sm-9">
        <table class="table table-striped emerald">
        <tbody>
          <tr>
            <td>您已經伸出援手</td>
            <td><%= item.item_name %></td>
          </tr>
          <tr>
            <td>您的幫助編號</td>
            <td><%= item.trans_id %></td>
          </tr>
          <tr>
            <td>增加積分</td>
            <td><%= item.credit %></td>
          </tr>
        </tbody>
      </table>
        <br>
        <table class="table table-striped">
            <div>以下為求救者聯絡資訊</div>
        <tbody>
          <tr>
            //<td><%= seller.tel %></td>
          </tr>
          <tr>
            <td>聯絡Email</td>
            <td><%= seller.email %></td>
          </tr>
        </tbody>
      </table>
        <div>感謝您使用Piece of help伸出援手</div>

      </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/home.js"></script>
  </body>
</html>

